@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'root.scss';
@import 'mixins.scss';
@import 'scrollbar.scss';

body {
  background: #F2F2F2;
}

.MuiDataGrid-columnHeaders {
  background: #1976D2;
  color: #FFFFFF;
}

.MuiDataGrid-root .MuiDataGrid-row {
  cursor: pointer;
}

.control-dots {
  display: none;
}

.carousel.carousel-slider {
  padding: 0 0 40px 0;
}

.about-carousel .carousel.carousel-slider {
  padding: 0 0 90px 0 !important;
}

.about-carousel .carousel-status {
  bottom: 0 !important;
  left: 0 !important;
  top: calc(100% - 70px) !important;
}

@media (min-width: 768px) {
  .carousel.carousel-slider {
    padding: 0 90px !important;
  }

  .about-carousel .carousel.carousel-slider {
    padding: 0 60px 90px 60px !important;
  }

  .about-carousel .carousel-status {
    bottom: 0 !important;
    left: 55px !important;
    top: calc(100% - 70px) !important;
  }
}